*{box-sizing: border-box;
margin: 0px;
padding: 0px;}

.container{
    border: 1px solid red;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100vh;
   
}


.box_1{
    border-radius: 20px;
    margin: 10px;
    width: 500px;
    background-color: #D7C49EFF;
    color: #343148FF;
    padding:20px ;

}
.box_1 .box_ques
{
    display: flex;
    justify-content: space-between;
    padding: 7px;
}
h2{color: #343148FF;
    text-transform: uppercase;
    margin-bottom: 40px;
    letter-spacing: 4px;

}
ion-icon{
    font-size: 25px;
}

p{
    padding: 7px;
    border-top: 1px dotted black;
}
 /* ..................hiding part....... */
 .question-text{
    display: none;
 }
.show_text .question-text
{
    display: block;
}

.close {
    display: none;
}

.show_text .close
{
    display: block;
}

 .show_text .open
 {
    display: none;
 }
